<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Movie Note</title>
    <link rel="stylesheet" href="/static/assets/css/header.css">
    <link rel="stylesheet" href="/static/assets/css/home.css">
    <script src="/static/js/includeHTML.js"></script>
</head>
<body>
    <header include-html="/static/html/header.html"></header>
    <div class="container">
        <div class="main-text">
            <span>8만개 이상의 영화 Data Record 보유!</span><br><br>
            <span class="main-text2">감상한 영화에 대해서 기록을 남기고</span><br><br>
            <span>나만의 Movie Note를 만들어 보세요!</span>
        </div>
        <div class="main-btn">
            <button class="btn">Movie Note 작성하기</button>
            <button class="btn">다른 사람들의 Movie Note 둘러보기</button>
        </div>
    </div>



    <script>
        includeHTML();
    </script>
</body>
</html>