<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Movie Note</title>
    <link rel="stylesheet" href="/static/assets/css/header.css?after">
    <link rel="stylesheet" href="/static/assets/css/list.css?after">
    <script src="/static/js/includeHTML.js"></script>
</head>
<body>
    <header include-html="/static/html/header.html?after"></header>
    <div class="wapper">
        <div class="wapper-text"><img src="/static/assets/image/people.png" alt=""> 둘러보기</div>
        <div class="content">
            {% if page.object_list %}
                {% for Notice in page.object_list %}
                    {% if forloop.counter0|divisibleby:2 %}
                        <div class="list2th" onclick="location.href='/home/detail/{{Notice.movieNm}}'">
                            <div class="top"><span class="title">{{Notice.movieNm}}</span><span id="star"></span></div>
                            <div class="buttom"><span class="w1">작성자: <span class="w2">{{Notice.username}}</span></span><span class="date">{{Notice.writed_date|date:'Y년 n월 j일 G:i'}}</span></div>
                        </div>
                    {%else%}
                        <div class="list" onclick="location.href='/home/detail/{{Notice.movieNm}}'">
                            <div class="top"><span class="title">{{Notice.movieNm}}</span><span id="star"></span></div>
                            <div class="buttom"><span class="w1">작성자: <span class="w2">{{Notice.username}}</span></span><span class="date">{{Notice.writed_date|date:'Y년 n월 j일 G:i'}}</span></div>
                        </div>
                    {% endif%}
                {% endfor%}
            {% endif%}
        </div>
    </div>
    <script>
        includeHTML();
    </script>
    <script>
        var star = "{{Notice.star}}"
        var s = document.getElementById('star')
        if (star == 4){
            s.innerText = "★★★★☆"
        }
        else if (star == 1){
            s.innerText = "★☆☆☆☆"
        }
        else if (star == 2){
            s.innerText = "★★☆☆☆"
        }
        else if (star == 3){
            s.innerText = "★★★☆☆"
        }
        else if (star == 5){
            s.innerText = "★★★★★"
        }
    </script>
</body>
</html>