<!DOCTYPE html>
<html>
    <head>
        <title>리뷰작성</title>
        <link rel="stylesheet" href="/static/css/header.css">
        <script src="/static/js/includeHTML.js"></script>
        <style>div{
            height: 300px;
        }</style>
    </head>
    <body>
        <header include-html="/static/html/header.html"></header>
        <div>aaaaaaaaaaaa</div>
        <div>aaaaaaaaaaaa</div>
        <div>aaaaaaaaaaaa</div>
        <div>aaaaaaaaaaaa</div>
        <div>aaaaaaaaaaaa</div>
        <div>aaaaaaaaaaaa</div>
        <div>aaaaaaaaaaaa</div>

        <div>aaaaaaaaaaaa</div>
        <div>aaaaaaaaaaaa</div>


        <div>aaaaaaaaaaaa</div>

        <div>aaaaaaaaaaaa</div>
        <div>aaaaaaaaaaaa</div>
    </body>
    <script>
        includeHTML();
    </script>
</html>