<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/assets/css/main.css?after">
    <title>MovieNote</title>
</head>
<body>
    <div class="main2">
        <div class="signUp">
            <div class="signUp-text"><span>LOG IN</span></div>
            <div class="logo-section">
                <img src="/static/assets/image/movienote.png" alt="">
            </div>
            <form action="" method="POST" class="signUp-form">
                {% csrf_token %}
                <div class="input-wapper">
                    <input type="email" placeholder="Email을 입력해 주세요." id="email" name="email" autocomplete="off">
                    <input type="password" placeholder="비밀번호를 입력해 주세요." id="password" name="password" autocomplete="off">
                    <button>로그인</button>
                    <span class="to-login">Don't you have ID? <a href="/main">Sign Up</a></span>
                </div>
            </form>
        </div>

    </div>
    <script>
        var message = "{{error}}"
        if (message){
            alert(message)
        }
    </script>
</body>
</html>